{{define "footer"}}
<div>
<hr>
[<a name="new" href="/new">new</a>] | 
[<a name="start" href="/start">start</a>] | 
[<a name="pause" href="/pause">pause</a>] | 
[<a name="resume" href="/resume">resume</a>] | 
[<a name="stop" href="/stop">stop</a>] | 
[<a name="download" href="/data/output.csv">download</a>] | 
</div>
</body>
</html>
{{end}}
