{{define "new"}}
<h2>{{.Title}}</h2>
{{.Body}}
<form action="/new" method="post">
Configuration Name:<input type="text" name="ConfigurationName" size="30">
<hr>
<b>Base Sensors</b>
<br>
<input type="checkbox" name="TrackerA" value="on" checked>Tracker A
<input type="checkbox" name="TrackerB" value="on" checked>Tracker B
<input type="checkbox" name="TrackerC" value="on" checked>Tracker C
<input type="checkbox" name="TrackerD" value="on" checked>Tracker D
<br>
<b>Mobile Sensors</b>
<br>
<input type="checkbox" name="TrackerM" value="on" checked>Tracker M
<input type="checkbox" name="Distance" value="on" checked>Distance
<input type="checkbox" name="AccGyro" value="on" checked>Acc+Gyro
<br>
<input type="reset" value="Reset">
<input type="submit" value="Config">
</form>
{{end}}
